*.md
# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/*.md

# Backend
backend/node_modules/
backend/venv/
backend/__pycache__/
backend/target/
backend/bin/
backend/.env
backend/*.md
oms-dashboard.html
